.section {
  display: flex;
  align-items: center;
  padding: 15px;
  flex: 1;
  max-width: 230px;
  border-width: 0 !important;
  cursor: pointer;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section > h3 {
  font-size: 14px;
  margin-left: 15px;
}